<template>
  <b-container fluid>
    <b-row class="widget-board">
      <b-btn v-b-modal="'order-add'"
             @click="initModal('order-add')"
             variant="success"
             size="sm">Создать</b-btn>
      <!-- Модальное окно добаления -->
      <b-modal id="order-add"
               title="Новый заказ"
               return-focus="false"
               :hide-footer="true"
               centered>
        <order-form :init="'order-add'" :order="'add'"></order-form>
      </b-modal>
      <!-- [КОНЕЦ] Модальное окно добаления -->
      <!-- Виджеты -->
      <draggable :list="orders"
                 class="widget-block">
        <!-- Список виджетов -->
        <b-col v-for="(widget, index) in orders"
               :key="widget.id"
               class="widget-block"
               sm="6">
          <div class="widget-item" data-id>
            <!-- Заголовок -->
            <div class="widget-title">
              Виджет №{{ widget[0].widget }}
              <small>(Всего: {{ widget.length }})</small>
              <b-btn size="sm"
                     variant="success"
                     @click="toggleShow(widget[0].id)"
                     v-if="widget.length > 0">
                <span :id="'id_widget_show_' + widget[0].id" :ref="'id_widget_show_' + widget[0].id">
                  Скрыть
                </span>
              </b-btn>
              <span @click="reloadWidgetData(widget[0].id)" class="widget-refresh-icon">
                <fa-icon name="refresh"></fa-icon>
              </span>
            </div>
            <!-- [КОНЕЦ БЛОКА] Заголовок -->
            <!-- Содержание (таблица) -->
            <div class="widget-table" :ref="'id_widget_' + widget[0].id" :id="'id_widget_' + widget[0].id"
                 v-show="widget.length > 0">
              <!-- Фильтр Возврата -->
              <div class="widget-filter">
                <b-form-checkbox v-model="filterByReturned[widget[0].id]">
                  Возврат
                </b-form-checkbox>
                <b-form-checkbox v-model="filterByLate[widget[0].id]">
                  Опоздал
                </b-form-checkbox>
              </div>
              <!-- [КОНЕЦ БЛОКА] Фильтр Возврата -->
              <b-table :items="widget | filtered(index, filterByReturned[widget[0].id], filterByLate[widget[0].id])"
                       :fields="fields"
                       class="widget-table"
                       hover
                       small
                       striped
                       responsive>
                <template slot="order"
                          slot-scope="data">
                  <!-- Заказ -->
                  <div>
                    <b-btn v-b-modal="'order-' + data.item.id + data.index"
                           @click="initModal('order-' + data.item.id + data.index)"
                           variant="primary"
                           size="sm">
                      000{{ data.item.id }}
                    </b-btn>
                    <b-modal :id="'order-' + data.item.id + data.index"
                             :title="'Номер заказа: №' + data.item.id"
                             return-focus="false"
                             :hide-footer="true"
                             centered>
                      <order-form :order="data.item.id"
                                  :init="'order-' + data.item.id + data.index"
                                  :widget="widget.order"></order-form>
                    </b-modal>
                  </div>
                  <div class="widget-order-icons">
                    <!-- Возврат -->
                    <span v-if="data.item.returned"
                          title="Возврат"
                          class="widget-order-icon">
                      <fa-icon name="undo"></fa-icon>
                    </span>
                    <!-- Опоздание -->
                    <span v-if="data.item.late"
                          title="Опоздал"
                          class="widget-order-icon">
                      <fa-icon name="clock-o"></fa-icon>
                    </span>
                  </div>
                </template>
                <template slot="start" slot-scope="data">
                  {{ new Date(data.item.start).toLocaleString('ru') }}
                </template>
                <template slot="gate"
                          slot-scope="data">
                  <div class="widget-gate">
                    <b-btn v-b-modal="'gate-'+data.item.gate"
                           :variant="data.item.gate_number ? 'success' : 'danger'"
                           class="elem-flatten"
                           size="sm">
                      {{ data.item.gate_number ? '№' + data.item.gate_number : 'Нет данных' }}
                    </b-btn>
                    <b-modal :id="'gate-'+data.item.gate"
                             return-focus="false"
                             :hide-footer="true"
                             :hide-title="true"
                             centered>
                      <g-gate :gate="data.item.gate_number"
                              :order="data.item.id"
                              :date="data.item.start"></g-gate>
                      <b-btn variant="success"
                             @click="changeOnlyGate(data.item.id, data.item.gate_number)"
                             class="elem-flatten"
                             size="sm">Сохранить</b-btn>
                    </b-modal>
                  </div>
                </template>
              </b-table>
            </div>
            <!-- [КОНЕЦ БЛОКА] Содержание (таблица) -->
          </div>
        </b-col>
        <!-- [КОНЕЦ БЛОКА] Список виджетов -->
      </draggable>
      <!-- [КОНЕЦ БЛОКА] Виджеты -->
    </b-row>
  </b-container>
</template>

<script>
/* Внешние импорты */
import _ from 'lodash'
import draggable from 'vuedraggable'
import {mapActions,mapGetters} from 'vuex'
/* fonawesome icons */
import 'vue-awesome/icons/refresh'
import 'vue-awesome/icons/undo'
import 'vue-awesome/icons/clock-o'
/* Локальный импорт */
import OrderForm from '@/components/OrderForm'
import Gate from '@/components/Gate'
import {changeOnlyGateApi} from '@/api'

export default {
  name: 'OrderList',
  components: {
    draggable,
    'order-form': OrderForm,
    'g-gate': Gate
  },
  data () {
    return {
      fields: {
        order: {
          label: '№ Заказа',
          sortable: true
        },
        pack_list: {
          label: 'Накладная',
          sortable: true
        },
        customer: {
          label: 'Клиент',
          sortable: true
        },
        start: {
          label: 'Время загрузки',
          sortable: true
        },
        gate: {
          label: 'Ворота',
          sortable: true
        }
      },
      filterByReturned: {},
      filterByLate: {},
    }
  },
  computed: {
    ...mapGetters({
      orders: 'getOrders',
      widgets: 'getWidgets'
    })
  },
  filters: {
    filtered(arr, index, returned, late) {
      if (returned && late) {
        return _.filter(arr, {returned: true, late: true})
      } else if (returned && !late) {
        return _.filter(arr, {returned: true})
      } else if (!returned && late) {
        return _.filter(arr, {late: true})
      }
      return arr
    }
  },
  methods: {
      ...mapActions({
      loadData: 'loadOrders',
      loadWidgets: 'loadWidgets'
    }),
    initModal(receiver) {
      // оповещение для загрузки
      window.vue_bus.$emit(receiver)
    },
    toggleShow(id) {
      let block = this.$refs['id_widget_' + id][0]
      let btn = this.$refs['id_widget_show_' + id][0]
      if (!block.attributes.style || block.attributes.style.value === 'display: block;') {
        block.setAttribute('style', 'display: none;')
        btn.innerText =  'Показать'
      } else {
        block.setAttribute('style', 'display: block;')
        btn.innerText =  'Скрыть'
      }
    },
    changeOnlyGate(order, gateNumber) {
      this.changeOnlyGateApi(this, order, gateNumber)
    },
    changeOnlyGateApi: changeOnlyGateApi
  },
  created: function () {
    this.loadWidgets() // сначала список виджетов
    this.loadData() // сами данные
  }
}
</script>

<style scoped>
.widget-board {
  display: flex;
  padding: 1rem;
}
.widget-block {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
.widget-item {
  width: 100%;
  background-color: #effcff;
  border: 1px solid #abedff;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.widget-title {
  cursor: move;
}
.widget-refresh-icon {
  font-size: 1.1rem;
  cursor: pointer;
  float: right;
  color: #0001ff;
}
.widget-order-icons {
  margin: 0.3rem;
}
.widget-order-icon {
  padding: 0.1rem;
  color: #66686b;
}
.widget-table {
  margin-top: 0.5rem;
  font-size: 0.9em;
}
.widget-gate {
  width: 100%;
  text-align: center;
}
</style>