<template>
  <b-row>
    <b-col sm="3">
      <label for="id_gate">Ворота</label>
    </b-col>
    <b-col m="9">
      <b-form-select v-model="localData"
                     :options="gateList"
                     @change="checkGate"
                     name="gate"
                     value-field="number"
                     text-field="number"
                     class="mb-3"
                     requireds></b-form-select>
    </b-col>
  </b-row>
</template>

<script>
import {isGateBusy} from '@/api'

export default {
  name: 'GateSelector',
  props: {
    gate: {
      type: Number,
      default: 1
    },
    date: {
      type: [String, Date],
      default: function () {
        return new Date()
      }
    },
    order: {
      type: [Number, String],
      default: 1
    }
  },
  data () {
    return {
      gateList: [1,2,3,4,5,6]
    }
  },
  computed: {
    localData: {
      get: function () {
        return this.gate
      },
      set: function (val) {
        this.$store.commit(
          'setNewGateNumber',
          {
            order: this.order ? this.order : 'add',
            gate_number: val,
          }
        )
      }
    }
  },
  methods: {
    isGateBusy: isGateBusy,
    checkGate: function (val) {
      // запрос статуса ворот
      this.isGateBusy(this, val, this.date)
    }
  },
}
</script>