<template>
  <b-form :ref="init" @submit="handlerForm">
    <b-container fluid>
      <b-row class="margin-top-1rem">
        <b-col sm="3">
          <label for="id_widget">Виджет</label>
        </b-col>
        <b-col m="9">
          <b-form-select v-model="selected"
                         name="widget"
                         :options="widgetsList"
                         value-field="id"
                         text-field="name"
                         class="mb-3"
                         requireds></b-form-select>
        </b-col>
      </b-row>
      <b-row v-if="init !== 'order-add'"
             class="margin-top-1rem">
        <b-col class="customer" sm="12">
          Заказчик: {{ localData.customer }}
          <b-form-input id="id_customer" 
                        type="text"
                        style="display: none;"
                        v-model="localData.customer"
                        name="customer"></b-form-input>
          <b-form-input id="id_id" 
                        type="text"
                        style="display: none;"
                        v-model="localData.id"
                        name="id"></b-form-input>
        </b-col>
      </b-row>
      <b-row v-else
             class="margin-top-1rem">
        <b-col sm="3">
          <label for="id_customer">Заказчик:</label>
        </b-col>
        <b-col sm="9">
          <b-form-input id="id_customer"
                        type="text"
                        required
                        v-model="localData.customer"
                        :stat="validation.hasError('localData.customer')"
                        name="customer"></b-form-input>
        </b-col>
      </b-row>
      <!-- Накладная -->
      <b-row class="margin-top-1rem">
        <b-col sm="3">
          <label for="id_pack_list">Накладная</label>
        </b-col>
        <b-col sm="9">
          <b-form-input id="id_pack_list"
                        type="text"
                        required
                        v-model="localData.pack_list"
                        :stat="validation.hasError('localData.pack_list')"
                        name="pack_list"></b-form-input>
        </b-col>
      </b-row>
      <!-- [КОНЕЦ] Накладная -->
      <!-- Время отгрузки -->
      <b-row class="margin-top-1rem">
        <b-col sm="3">
          <label for="id_late">Время отгрузки</label>
        </b-col>
        <b-col sm="9">
          <date-picker v-model="localData.start"
                       :first-day-of-week="1"
                       format="YYYY-MM-DD HH:mm"
                       lang="ru"
                       type="datetime"></date-picker>
        </b-col>
      </b-row>
      <!-- [КОНЕЦ] Время отгрузки -->
      <!-- Ворота -->
      <b-row class="margin-top-1rem">
        <b-col sm="12">
          <div class="gate" v-if="localData.start">
            <gate-field :gate="localData.gate_number"
                        :order="order"
                        :date="localData.start"></gate-field>
          </div>
          <div class="gate" v-else>
            Ворота: для выбора ворот необходимо указать дату отгрузки
          </div>
        </b-col>
      </b-row>
      <!-- [КОНЕЦ] Ворота -->
      <!-- Чекбоксы -->
      <b-row class="margin-top-1rem">
        <b-col sm="12">
          <b-form-checkbox name="late"
                           v-model="localData.late">
            Опаздал
          </b-form-checkbox>
          <b-form-checkbox name="returned"
                           v-model="localData.returned">
            Возврат
          </b-form-checkbox>
        </b-col>
      </b-row>
      <!-- [КОНЕЦ] Чекбоксы -->
      <!-- Кнопка -->
      <b-row class="margin-top-1rem">
        <b-col sm="12">
          <b-btn v-if="init === 'order-add'"
                 variant="success"
                 class="elem-flatten"
                 @click="handlerForm('add')">Создать</b-btn>
          <b-btn v-else
                 variant="success"
                 class="elem-flatten"
                 @click="handlerForm('update')">Обновить</b-btn>
        </b-col>
      </b-row>
      <!-- [КОНЕЦ] Кнопка -->
    </b-container>
  </b-form>
</template>

<script>
/* Внешние импорты */
import { mapGetters, mapActions } from 'vuex'
import DatePicker from 'vue2-datepicker'
import SimpleVueValidator from 'simple-vue-validator'
/* Локальные импорты */
import Gate from '@/components/Gate'

/* ect */
let Validator = SimpleVueValidator.Validator

export default {
  name: 'OrderForm',
  components: {
    DatePicker,
    'gate-field': Gate
  },
  mixins: [SimpleVueValidator.mixin],
  props: ['init', 'order'],
  data () {
    return {
      initData: false,
      localData: {},
      selected: null
    }
  },
  computed: {
    ...mapGetters({
      widgetsList: 'getWidgetsList',
      orders: 'getOrders'
    }),
    getTime: {
      get: function () {
        let time = new Date(this.localData.start)
        let currTZ = new Date().getTimezoneOffset()
        time.setMinutes(currTZ*2)
        return time
      },
      set: function (val) {
        let time = new Date(val)
        let currTZ = new Date().getTimezoneOffset()
        time.setMinutes(-currTZ*2)
        this.localData.start = time
      }
    }
  },
  methods: {
    ...mapActions(['addOrder', 'updateOrder']),
    loadData() {
      this.orders.forEach((widget) => {
        widget.forEach((order) => {
          if (order.id === this.order) this.localData = order
        })
      })
      this.selected = this.localData.widget
    },
    getCurrTimeInISO() {
      let time = new Date(this.localData.start)
      return time.toISOString()
    },
    handlerForm(status){
      let t = this
      t.$validate()
        .then(success => {
          if (success) {
            let form = new FormData(t.$refs[t.init])
            form.set('gate_number', t.localData.gate_number)
            form.set('start', t.getCurrTimeInISO())
            switch (status) {
              case 'add':
                t.addOrder(form)
                break
              case 'update':
                t.updateOrder(form)
                break
              default:
                alert('WTF?')
            }
          }
        })
    }
  },
  validators: {
    'localData.customer': (val) => {
      return Validator.value(val).required()
    },
    'localData.pack_list': (val) => {
      return Validator.value(val).required()
    }
  },
  created: function () {

    // инициализация данных при открытии, а не при рендеринге родетеля
    window.vue_bus.$on(this.init, () => {
      this.localData = {}
      this.selected = null
      if (!this.initData && this.init !== 'order-add') {
        this.loadData()
      }
    })

    // закрыть модальное окно после удачного добавления\обновления данных
    window.vue_bus.$on('close::modal', (order) => {
      if (order === 'order-add') {
        this.$root.$emit('bv::hide::modal', 'order-add')
      } else if (order === this.order) {
        this.$root.$emit('bv::hide::modal', this.init)
      }
    })
  }
}
</script>

<style scoped>
.customer {
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.gate {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.btn-save {

}

</style>