<template>
  <div id="app">
    <simple-board></simple-board>
  </div>
</template>

<script>
import Board from './components/Board'

export default {
  name: 'app',
  components: {
    'simple-board': Board
  }
}
</script>
